.main-left
  .left-header
    %p.left-header__user-name
      = current_user.name
    %ul.user-menu
      %li.user-menu__icon
        = link_to new_group_path do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .groups 
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__group-name
            = group.name
          .group__latest-message
            メッセージはまだありません。
.main-right
  .right-header
    .current-group
      %h2.current-group__name Test 2
      %ul.current-group Member :
    .right-header__edit-btn 
      = link_to 'Edit', edit_group_path(2)

  .messages
    .message
      .basic-info
        %p.basic-info__user tetsuro
        %p.basic-info__date 2019/04/22(Mon) 10:24:46
      %p.message__text Second day of Chat Space

    .message
      .basic-info
        %p.basic-info__user tetsuro
        %p.basic-info__date 2019/04/28(Sun) 17:47:08
      %p.message__text Check one, two

 .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
